
videos/space.mp4
js/pixi.min.js
js/main.js
index.html
images/sprites/t2.png
images/sprites/t2.json
images/sprites/t1.png
images/sprites/t1.json
images/sprites/p.png
images/sprites/p.json
images/sprites/f.png
images/sprites/f.json
images/sprites/e2.png
images/sprites/e2.json
images/sprites/e1.png
images/sprites/e1.json
images/enemy_2.png
images/enemy_1.png
images/boss.png
